### Gruppe 3
 - Svetlana Marchenko Matrikel NR 20236284

**Datenbereinigung und Kategorienumwandlung in binäre Variablen, Datenkonkatenation und Integration**

---

**1. Einleitung**

In diesem Dokument wird der Prozess der Datenbereinigung und Umwandlung kategorischer Variablen in binäre (Dummy-)Variablen beschrieben. Diese Schritte wurden im Rahmen der Datenüberprüfung und -reinigung durchgeführt, nachdem Daten mittels Webscraping gesammelt wurden. Ziel war es, die Daten für weitere Analyse- und Modellierungsarbeiten vorzubereiten und die Arbeit mit den Daten zu erleichtern.

---

**2. Datenbereinigung und Kategorienumwandlung**

Zu Beginn des Prozesses wurden die gesammelten Daten einer gründlichen Überprüfung und Bereinigung unterzogen. Ein wesentlicher Schritt bestand darin, kategoriale Variablen in binäre (Dummy-)Variablen umzuwandeln. Dieser Schritt wurde aus folgenden Gründen durchgeführt:

**2.1. Kategorienumwandlung:**

- **Erleichterung der Datenanalyse:** Die Umwandlung kategorischer Variablen in binäre Variablen erleichtert die Datenanalyse, insbesondere bei der Anwendung von statistischen Modellen und maschinellem Lernen.

- **Verbesserung der Modellgenauigkeit:** Durch die Umwandlung von kategorischen Variablen in binäre Variablen können komplexe Zusammenhänge zwischen den Variablen besser erfasst werden, was wiederum die Modellgenauigkeit verbessern kann.

**2.2. Hinzufügen neuer Variablen:**

Im Zuge der Datenbereinigung und -umwandlung wurden auch neue Variablen hinzugefügt, darunter:

- **Hauptstadt (Capital):** Diese binäre Variable gibt an, ob eine beobachtete Stadt die Hauptstadt eines Landes ist oder nicht. Die Entscheidung, diese Variable hinzuzufügen, wurde getroffen, da Wohnungspreise in Hauptstädten tendenziell höher sein können als in anderen Städten, auch wenn andere Parameter gleich sind. Dies kann auf eine höhere Nachfrage nach Wohnraum in Hauptstädten zurückzuführen sein.

- **Große Stadt (Large City):** Diese binäre Variable gibt an, ob eine beobachtete Stadt als groß eingestuft wird oder nicht, basierend auf der Einwohnerzahl. Die Entscheidung, diese Variable hinzuzufügen, wurde getroffen, da die Größe einer Stadt eine Rolle bei der Bestimmung von Wohnungspreisen spielen kann. Größere Städte haben oft eine höhere Nachfrage nach Wohnraum und können daher höhere Preise aufweisen.

- **Küstenlage (Coastal Location):** Diese binäre Variable gibt an, ob eine beobachtete Stadt an der Küste liegt oder nicht. Die Entscheidung, diese Variable hinzuzufügen, wurde getroffen, da Küstenstädte oft eine einzigartige Attraktivität haben und daher Unterschiede in den Wohnungspreisen aufweisen können im Vergleich zu nicht-küstennahen Städten.

---

**3. Datenkonkatenation**
 

Die Datenkonkatenation umfasste die folgenden Schritte:

**3.1. Beschaffung der Daten des Medianalters der Bewohner:

Die Daten des Medianalters der Bewohner wurden von einer vertrauenswürdigen Quelle bezogen, in diesem Fall von der Website des nationalen statistischen Amtes. Die Daten wurden als Excel-Datei bereitgestellt und anschließend in das CSV-Format konvertiert, um sie mit den ursprünglichen Daten kompatibel zu machen. Link lautet https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_destaques&DESTAQUESdest_boui=594945354&DESTAQUESmodo=2

**3.1.2. Vorbereitung der Daten:

Die Daten des Medianalters der Bewohner wurden entsprechend vorbereitet, um sicherzustellen, dass sie mit den Spalten der ursprünglichen Daten übereinstimmen. Dies umfasste die Umbenennung von Spalten, die Anpassung des Formats und gegebenenfalls die Bereinigung von fehlenden oder fehlerhaften Werten.

**3.1.3. Datenkonkatenation:

Die vorbereiteten Daten des Medianalters der Bewohner wurden dann mit den ursprünglichen Daten kombiniert. Dies erfolgte durch die Konkatenation der Daten entweder entlang der Zeilen (falls beide Datensätze die gleiche Reihenfolge von Städten aufweisen) oder durch die Verwendung von Schlüsselvariablen zur Identifizierung der entsprechenden Datenpunkte.
Die Entscheidung, die Daten des Medianalters der Bewohner mit den ursprünglichen Daten zu kombinieren, wurde getroffen, um zusätzliche Einblicke zu gewinnen. Jüngere Städte könnten aufgrund einer höheren Anzahl junger Bewohner möglicherweise beliebter sein. Die Integration dieser Informationen ermöglichte eine umfassendere Analyse der Faktoren, die die Beliebtheit von Städten beeinflussen.

Die Entscheidung, die Daten des Medianalters der Bewohner mit den ursprünglichen Daten zu kombinieren, wurde getroffen, um zusätzliche Einblicke zu gewinnen. Jüngere Städte könnten aufgrund einer höheren Anzahl junger Bewohner möglicherweise beliebter sein. Die Integration dieser Informationen ermöglichte eine umfassendere Analyse der Faktoren, die die Beliebtheit von Städten beeinflussen.


**3.2. Datenkonkatenation und Integration der Distanzdaten zum Ozean:

**3.2.1.Information über Datenbeschafung: 

Ich habe Geokodierungs-API benutzt, um Adressen in geografische Koordinaten (Breiten- und Längengrade) umzuwandeln. Dies ermöglicht es, die genauen Standorte auf der Karte zu bestimmen. Nachdem ich die geografischen Koordinaten aller Standorte gesammelt haben, habe ich mehrer Standorten an Atlantische Küste augewält und die Distanzen zwischen ihnen berechnen und in den Datenrahmen einfügt.


Gleichzeitig wurden auch Daten über die Entfernung der Standorte zum nächsten Ozean integriert. Diese Integration ermöglicht eine umfassendere Analyse der Faktoren, die die Attraktivität und Preise von Immobilien beeinflussen.

Die Integration von Distanzdaten zum nächsten Ozean ist wichtig, da die Nähe zum Wasser ein entscheidender Faktor sein kann, der die Attraktivität und den Wert einer Immobilie bestimmt. Standorte in Küstennähe können aufgrund ihres Zugangs zu Stränden und Freizeitmöglichkeiten begehrt sein und daher höhere Immobilienpreise haben. Diese Integration ermöglicht es Analysten, den Einfluss der geografischen Lage auf die Immobilienpreise genauer zu untersuchen und zu bewerten.

In [180]:
# Laden der notwendigen Bibliotheken
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns   # https://seaborn.pydata.org

# Make sure the plots are displayed inline (within the notebook)
%matplotlib inline
import numpy as np
import csv

#FILENAME_DATASET = "../data/property_listingsERA5.csv"
FILENAME_DATASET ="property_listingsERA5.csv"

In [182]:
import chardet

#  Dateiinhalt lesen und Dateicodierung erkennen
with open(FILENAME_DATASET, 'rb') as file:
    result = chardet.detect(file.read())
    encoding = result['encoding']
    print(f"Detected encoding: {encoding}")

Detected encoding: ISO-8859-1

In [183]:
#Datensatz wird kopiert und  kontroliert ob die Dimension des Datensatzes ist korrekt
fields = ["ID", "Location", "Price", "Property Type", "Rooms", "WCs", "Net Floor Area (m2)", "Gross Private Area (m2)", 
                        "Parking", "Floor", "Elevator", "Energy Performance Certificate", ]
df = pd.read_csv(FILENAME_DATASET,
                sep=';',
                encoding='ISO-8859-1',
                header=0, 
                quotechar='"',
                quoting=csv.QUOTE_NONNUMERIC,
                on_bad_lines='skip',
                names=fields,
                )
df_Copy = df
nSpalten = df_Copy.shape[1]
nZeilen = df_Copy.shape[0]
if nSpalten == 12 and nZeilen == 1949:
    print(
       f"Der Datensatz hat  Zeilen {nZeilen} und {nSpalten} Spalten. Die Dimension des Datensatzes ist korrekt.")
else:
    print("Fehler: Der Datensatz hat nicht die erwartete Dimension", nSpalten, nZeilen)
df_Copy.tail()
df_Copy.to_csv('list_for_googleMap.csv', sep=';', index=False, encoding='ISO-8859-1')

Der Datensatz hat  Zeilen 1949 und 12 Spalten. Die Dimension des Datensatzes ist korrekt.

In [184]:

#hier werden die kategoriale Variable Elevator in der Spalte in das binäre (Dummy) Variable konvertiert, the origin variable Elevator will be deleted the new boolean Variable Elevator_Not available will be added to the Data Frame
VARIABLES_TO_OHE = ["Elevator"]

df_Copy=pd.concat([df_Copy,pd.get_dummies(df_Copy[VARIABLES_TO_OHE], drop_first=True)], axis=1)

In [185]:
#Zeigt eine Zusammenfassung der Informationen über den Data Frame an, einschließlich Anzahl der Nicht-Null-Einträge und Datentypen der Spalten
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1949 non-null   float64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Property Type                   1949 non-null   object
 4   Rooms                           1949 non-null   object
 5   WCs                             1949 non-null   object
 6   Net Floor Area (m2)             1949 non-null   object
 7   Gross Private Area (m2)         1949 non-null   object
 8   Parking                         1949 non-null   object
 9   Floor                           1949 non-null   object
 10  Elevator                        1949 non-null   object
 11  Energy Performance Certificate  1949 non-null   object
 12  Elevator_Not available          1949 non-null   bool
dtypes: bool(1), float64(1), object(11)
memory usage: 184.8+ KB

In [186]:
#Diese Funktion konvertiert bestimmte Spalten des DataFrame in numerische Werte und behandelt dabei auftretende Fehler mit der Option 'coerce'.
columnsNum =['Parking', 'Rooms','WCs','Net Floor Area (m2)','Gross Private Area (m2)', 'Floor']
for column in columnsNum:
    df_Copy[column]= pd.to_numeric(df_Copy[column], errors='coerce')
    df_Copy[column].abs()
print(df_Copy.head())

    ID                          Location    Price Property Type  Rooms  WCs  \
0  2.0  Rio Tinto - Medancelhe, Gondomar  220.000     Apartment    4.0  2.0
1  3.0                   Arroios, Lisboa  365.000     Apartment    2.0  1.0
2  4.0                       Fafe, Braga  220.000     Apartment    4.0  3.0
3  5.0                     Bonfim, Porto  230.000     Apartment    3.0  2.0
4  6.0                   Benfica, Lisboa  460.000     Apartment    3.0  2.0

   Net Floor Area (m2)  Gross Private Area (m2)  Parking  Floor  \
0                126.0                    161.0      1.0    0.0
1                 67.0                     67.0      NaN    NaN
2                180.0                    164.0      NaN    NaN
3                 87.0                     87.0      NaN    NaN
4                 81.0                    104.0      1.0    9.0

        Elevator  Energy Performance Certificate  Elevator_Not available
0  Not available                   Not available                    True
1  Not available                   Not available                    True
2  Not available                   Not available                    True
3  Not available                   Not available                    True
4       Elevator  Energy Performance Certificate                   False

In [187]:
#Zeigt eine Zusammenfassung der Informationen über den Data Frame an, einschließlich Anzahl der Nicht-Null-Einträge und Datentypen der Spalten
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              1949 non-null   float64
 1   Location                        1949 non-null   object
 2   Price                           1949 non-null   object
 3   Property Type                   1949 non-null   object
 4   Rooms                           1922 non-null   float64
 5   WCs                             1835 non-null   float64
 6   Net Floor Area (m2)             1787 non-null   float64
 7   Gross Private Area (m2)         1754 non-null   float64
 8   Parking                         1108 non-null   float64
 9   Floor                           1012 non-null   float64
 10  Elevator                        1949 non-null   object
 11  Energy Performance Certificate  1949 non-null   object
 12  Elevator_Not available          1949 non-null   bool
dtypes: bool(1), float64(7), object(5)
memory usage: 184.8+ KB

In [188]:
df_Copy.isnull().sum()

ID                                  0
Location                            0
Price                               0
Property Type                       0
Rooms                              27
WCs                               114
Net Floor Area (m2)               162
Gross Private Area (m2)           195
Parking                           841
Floor                             937
Elevator                            0
Energy Performance Certificate      0
Elevator_Not available              0
dtype: int64

In [189]:
#Delete the variable we do not need for ML
df_Copy=df_Copy.drop(['ID','Property Type', 'Elevator' ], axis=1)

In [190]:
# Erstelle eine neue Variable 'Capital', um anzuzeigen, ob sich die Immobilie in Lissabon befindet, 
# da dieser Faktor die Immobilienpreise maßgeblich beeinflussen kann. 
# Diese binäre Variable wird bei der Analyse der Preistreiber helfen.

city = df_Copy['Location']

def check(row):
    return 'Lisboa' in row['Location']

df_Copy['Capital'] = df_Copy.apply(lambda row: check(row), axis=1)
df_Copy.head()

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital
0,"Rio Tinto - Medancelhe, Gondomar",220.000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False
1,"Arroios, Lisboa",365.000,2.0,1.0,67.0,67.0,NaN,NaN,Not available,True,True
2,"Fafe, Braga",220.000,4.0,3.0,180.0,164.0,NaN,NaN,Not available,True,False
3,"Bonfim, Porto",230.000,3.0,2.0,87.0,87.0,NaN,NaN,Not available,True,False
4,"Benfica, Lisboa",460.000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True

In [191]:
# Erstelle neue Variablen 'Metropolitan Areas' und 'Large cities' (für Städte mit über 100.000 Einwohnern), um anzuzeigen, ob sich die Immobilie in einem Ballungsraum und/oder in einer Großstadt befindet, 
# da diese Faktoren die Immobilienpreise maßgeblich beeinflussen können. 
# Diese binären Variablen werden bei der Analyse der Preistreiber helfen.

city = df_Copy['Location']

def check(row):
    return any(city in row['Location'] for city in ['Lisboa', 'Amadora', 'Queluz', 'Setúbal', 'Almada', 'Agualva-Cacém','Porto', 'Vila Nova de Gaia', 'Gondomar', 'Rio Tinto', 'Póvoa de Varzim', 'Matosinhos'])
def checkCity(row):
    return any(city in row['Location'] for city in ['Lisboa', 'Porto', 'Braga', 'Setúbal', 'Vila Nova de Gaia', 'Amadora','Coimbra','Funchal']) 
def checkCoastal(row):
    return any(city in row['Location'] for city in ['Albufeira', 'Aljezur', 'Armação de Pêra', 'Aveiro', 'Cacela Velha', 'Carvoeiro', 'Cascais', 'Comporta', 'Costa da Caparica', 'Ericeira', 'Faro', 'Ferragudo', 'Figueira da Foz','Lagos', 'Nazaré','Óbidos', 'Odeceixe', 'Olhão', 'Peniche', 'Portimão', 'Porto', 'Porto Covo','Sagres','Sesimbra','Tavira', 'Viana do Castelo'])

  
df_Copy['Metropolitan Areas'] = df_Copy.apply(lambda row: check(row), axis=1)
df_Copy['Large cities']=df_Copy.apply(lambda row: checkCity(row), axis=1)
df_Copy ['Coastal Locations']=df_Copy.apply(lambda row: checkCoastal(row), axis=1) 
df_Copy.head()

,Location,Price,Rooms,WCs,Net Floor Area (m2),Gross Private Area (m2),Parking,Floor,Energy Performance Certificate,Elevator_Not available,Capital,Metropolitan Areas,Large cities,Coastal Locations
0,"Rio Tinto - Medancelhe, Gondomar",220.000,4.0,2.0,126.0,161.0,1.0,0.0,Not available,True,False,True,False,False
1,"Arroios, Lisboa",365.000,2.0,1.0,67.0,67.0,NaN,NaN,Not available,True,True,True,True,False
2,"Fafe, Braga",220.000,4.0,3.0,180.0,164.0,NaN,NaN,Not available,True,False,False,True,False
3,"Bonfim, Porto",230.000,3.0,2.0,87.0,87.0,NaN,NaN,Not available,True,False,True,True,True
4,"Benfica, Lisboa",460.000,3.0,2.0,81.0,104.0,1.0,9.0,Energy Performance Certificate,False,True,True,True,False

In [192]:
#excel .xlsxfile from https://www.ine.pt/xportal/xmain?xpid=INE&xpgid=ine_destaques&DESTAQUESdest_boui=594945354&DESTAQUESmodo=2 converted to csv in microsoft
#File_Age = "../data/age2022-1.csv"
File_Age= "age2022-1.csv"
df2 = pd.read_csv(File_Age,
                sep=';',
                encoding='ISO-8859-1',
                header=0, 
                on_bad_lines='skip',
                
                engine='python'
                )
df2.head()

,Designação,Taxa de crescimento efetivo,Taxa de crescimento natural,Taxa de crescimento migratório,Idade mediana da população residente,1º quartil da idade da população residente,3º quartil da idade da população residente
0,Portugal,"0,44","-0,39","0,83",47,"26,7","64,2"
1,Continente,"0,45","-0,39","0,84","47,1","26,7","64,4"
2,Norte,"0,59","-0,35","0,94","47,4","27,1","63,9"
3,Alto Minho,"0,15","-0,74","0,89","50,3","29,6","67,5"
4,Arcos de Valdevez,0,"-1,2","1,2","55,4","33,6","71,8"

In [193]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 350 entries, 0 to 349
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Designação                                  348 non-null    object
 1   Taxa de crescimento efetivo                 350 non-null    object
 2   Taxa de crescimento natural                 348 non-null    object
 3   Taxa de crescimento migratório              348 non-null    object
 4   Idade mediana da população residente        349 non-null    object
 5   1º quartil da idade da população residente  348 non-null    object
 6   3º quartil da idade da população residente  348 non-null    object
dtypes: object(7)
memory usage: 19.3+ KB

In [194]:
#Ensure the location columns are in the correct format
df_Copy['Location'] = df_Copy['Location'].astype(str)
df2['Designação'] = df2['Designação'].astype(str)

# Initialize the 'Mean Age' column in df1

df_Copy['Median Age'] = None

# Iterate over the rows of df1
for i, row in df_Copy.iterrows():
    for j, location in df2['Designação'].items():
        if location in row['Location']:
            df_Copy.at[i, 'Median Age'] = df2.at[j,'Idade mediana da população residente']
            break

# Check the updated DataFrame
print(df_Copy.head())

                           Location    Price  Rooms  WCs  Net Floor Area (m2)  \
0  Rio Tinto - Medancelhe, Gondomar  220.000    4.0  2.0                126.0
1                   Arroios, Lisboa  365.000    2.0  1.0                 67.0
2                       Fafe, Braga  220.000    4.0  3.0                180.0
3                     Bonfim, Porto  230.000    3.0  2.0                 87.0
4                   Benfica, Lisboa  460.000    3.0  2.0                 81.0

   Gross Private Area (m2)  Parking  Floor  Energy Performance Certificate  \
0                    161.0      1.0    0.0                   Not available
1                     67.0      NaN    NaN                   Not available
2                    164.0      NaN    NaN                   Not available
3                     87.0      NaN    NaN                   Not available
4                    104.0      1.0    9.0  Energy Performance Certificate

   Elevator_Not available  Capital  Metropolitan Areas  Large cities  \
0                    True    False                True         False
1                    True     True                True          True
2                    True    False               False          True
3                    True    False                True          True
4                   False     True                True          True

   Coastal Locations Median Age
0              False       47,1
1              False       44,8
2              False       44,4
3               True         47
4              False       44,8

In [195]:
df_Copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1949 non-null   object
 1   Price                           1949 non-null   object
 2   Rooms                           1922 non-null   float64
 3   WCs                             1835 non-null   float64
 4   Net Floor Area (m2)             1787 non-null   float64
 5   Gross Private Area (m2)         1754 non-null   float64
 6   Parking                         1108 non-null   float64
 7   Floor                           1012 non-null   float64
 8   Energy Performance Certificate  1949 non-null   object
 9   Elevator_Not available          1949 non-null   bool
 10  Capital                         1949 non-null   bool
 11  Metropolitan Areas              1949 non-null   bool
 12  Large cities                    1949 non-null   bool
 13  Coastal Locations               1949 non-null   bool
 14  Median Age                      1898 non-null   object
dtypes: bool(5), float64(6), object(4)
memory usage: 161.9+ KB

Der nächste Schritt ist die Integration von Entfernungsdaten aus der Datei "location_distances-3.csv" in den Hauptdatensatz. Die Entfernungsdaten wurden mithilfe der Google Maps API erfasst und sollen als neue Spalte "Distance to Nearest Coastal Point (km)" in den Hauptdatensatz integriert werden. Der Hauptdatensatz wird als DataFrame df_Copy bezeichnet.

In [196]:
# Hier werden die Daten aus der CSV-Datei "location_distances-3.csv" eingelesen, die mithilfe der Google Maps API gesammelt wurden.
# Es wird angenommen, dass die Daten im CSV-Format vorliegen, wobei ';' als Trennzeichen verwendet wird und die Kodierung 'ISO-8859-1' ist.
# Die erste Zeile der Datei wird als Header verwendet, und fehlerhafte Zeilen werden übersprungen.
# Der pandas-Parser wird verwendet, um die Datei zu lesen.

File_Distance= "location_distances-3.csv"
df3 = pd.read_csv(File_Distance,
                sep=';',
                encoding='ISO-8859-1',
                header=0, 
                on_bad_lines='skip',
                
                engine='python'
                )
df3.tail()

                         Location Distance to Nearest Coastal Point (km)
1944    Monte da Caparica, Almada                                      4
1945          Olhão Centro, Olhão                                     63
1946        Alferrarede, Abrantes                                     97
1947  Laranjeiro e Feijó, Setúbal                                      6
1948               Bom João, Faro                                     55

In [198]:
#Ensure the location columns are in the correct format
df_Copy['Location'] = df_Copy['Location'].astype(str)
df3['LocationMap'] = df3['Location'].astype(str)

# Initialize the 'Distance To Ocean' column in df1

df_Copy['Distance To Ocean'] = None

# Iterate over the rows 
for i, row in df_Copy.iterrows():
    for j, location in df3['LocationMap'].items():
        if location in row['Location']:
            df_Copy.at[i, 'Distance To Ocean'] = df3.at[j,'Distance to Nearest Coastal Point (km)']
            break

# Check the updated DataFrame
print(df_Copy.head())
df_Copy.info()

                           Location    Price  Rooms  WCs  Net Floor Area (m2)  \
0  Rio Tinto - Medancelhe, Gondomar  220.000    4.0  2.0                126.0
1                   Arroios, Lisboa  365.000    2.0  1.0                 67.0
2                       Fafe, Braga  220.000    4.0  3.0                180.0
3                     Bonfim, Porto  230.000    3.0  2.0                 87.0
4                   Benfica, Lisboa  460.000    3.0  2.0                 81.0

   Gross Private Area (m2)  Parking  Floor  Energy Performance Certificate  \
0                    161.0      1.0    0.0                   Not available
1                     67.0      NaN    NaN                   Not available
2                    164.0      NaN    NaN                   Not available
3                     87.0      NaN    NaN                   Not available
4                    104.0      1.0    9.0  Energy Performance Certificate

   Elevator_Not available  Capital  Metropolitan Areas  Large cities  \
0                    True    False                True         False
1                    True     True                True          True
2                    True    False               False          True
3                    True    False                True          True
4                   False     True                True          True

   Coastal Locations Median Age Distance To Ocean
0              False       47,1                 9
1              False       44,8                12
2              False       44,4                50
3               True         47                 6
4              False       44,8                 9
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1949 entries, 0 to 1948
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Location                        1949 non-null   object
 1   Price                           1949 non-null   object
 2   Rooms                           1922 non-null   float64
 3   WCs                             1835 non-null   float64
 4   Net Floor Area (m2)             1787 non-null   float64
 5   Gross Private Area (m2)         1754 non-null   float64
 6   Parking                         1108 non-null   float64
 7   Floor                           1012 non-null   float64
 8   Energy Performance Certificate  1949 non-null   object
 9   Elevator_Not available          1949 non-null   bool
 10  Capital                         1949 non-null   bool
 11  Metropolitan Areas              1949 non-null   bool
 12  Large cities                    1949 non-null   bool
 13  Coastal Locations               1949 non-null   bool
 14  Median Age                      1898 non-null   object
 15  Distance To Ocean               1949 non-null   object
dtypes: bool(5), float64(6), object(5)
memory usage: 177.1+ KB

In [179]:
df_Copy.to_csv('dataconcatPropertyAndAgeDistance2805-22_35.csv', sep=';', index=False, encoding='ISO-8859-1')

Überprüfung und Bereinigung des Datensatzes